
<div class="container" ng-controller="IndexController">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-3 col-sm-push-9">
      <p style="padding:20px;"></p>
      <h3 align=center>Our Lipsmacking Culinary Creations</h3>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-pull-3">
      <div ng-if="!showDish">
        <h3>{{message}}</h3>
      </div>
      <li class="media" ng-if="showDish">
        <div class="media-left media-middle">
          <a ui-sref="app.dishdetails({id: dish._id})">
            <img class="media-object img-thumbnail"
            ng-src={{dish.image}} alt="Uthappizza">
          </a>
        </div>
        <div class="media-body">
          <h2 class="media-heading">{{dish.name}}
            <span class="label label-danger">{{dish.label}}</span>
            <span class="badge">{{dish.price | currency}}</span></h2>
            <p>{{dish.description}}</p>
          </div>
        </li>
      </div>
    </div>


    <div class="row row-content">
      <div class="col-xs-12 col-sm-3">
        <p style="padding:20px;"></p>
        <h3 align=center>This Month's Promotions</h3>
      </div>
      <div class="col-xs-12 col-sm-9">
        <li class="media">
          <div class="media-right">
            <a ui-sref="app.dishdetails({id: Promotion.id})">
              <img class="media-object img-thumbnail"
              ng-src={{Promotion.image}}>
            </a>
          </div>
          <div class="media-body media-right">
            <h2 class="media-heading">{{Promotion.name}}
              <span class="label label-danger">{{Promotion.label}}</span>
              <span class="badge">{{Promotion.price | currency}}</span></h2>
              <p>{{Promotion.description}}</p>
            </div>
          </li>
        </div>
      </div>

      <div class="row row-content" ng-controller="AboutController">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
          <p style="padding:20px;"></p>
          <h3 align=center>Meet our Culinary Specialists</h3>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
          <li class="media">
            <div class="media-left media-middle">
              <a>
                <img class="media-object img-thumbnail"
                ng-src={{executiveChef.image}}>
              </a>
            </div>
            <div class="media-body">
              <h2 class="media-heading">{{executiveChef.name}}</h2>
                <small>{{executiveChef.designation}}</small>
                <p>{{executiveChef.description}}</p>
              </div>
            </li>
          </div>
        </div>
      </div>
